<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.Params.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}

    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/myscss")) }}
    {{ $sass := resources.Get "/sass/style.scss"}}
    {{ $style := $sass | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <title>Daniel Baker's Website</title>
</head>
