{{ define "main" }} 
{{ with .Content }}
    {{ . }} 
{{ end }}

<div class="posts">
    <h3>Recent blog posts:</h3>
    <ul>
    {{ range first 5 (where .Pages "Section" "==" "posts") }}
        <!-- <li>
            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>  <span class="tags"> {{range .Params.Tags }} <a href="/tags/{{.}}">#{{ . }}</a>{{end}}</end>
        </li> -->
            {{ partial "post-list-item.html" . }}
    {{ end }}
    </ul>
</div>
{{ end }}